<%= render 'static_pages/navigation' %>

<div class="container">
  <div class="title-bar"><h2>Search Gems</h2></div>
  <div>
    <%= form_tag search_path do %>
      <input class="searchbar" id="searchbar" name="query" placeholder="Search" type="text" />
    <% end %>
  </div>
  <div class="search-results">
    <% if !@rubygems %>
      <%= "" %>
    <% elsif !!@rubygem %>
      <div><h4>Found Gem</h4></div>
      <div class="found-gem">
        <div class="<%= @rubygem["name"] %>">
          <%= link_to @rubygem["name"], "https://rubygems.org/gems/#{@rubygem["name"]}", target: "_blank" %>
          <img class="star-pic" src="/assets/star-gray.png" alt="star pic"/>
        </div>
      </div>
      <br />
      <div><h4>Info</h4></div>
      <div><%= @rubygem["info"] %></div>
      <br />
      <div><h4>Dependencies</h4></div>
      <div class="dependencies-gem">
        <% if @rubygem["dependencies"]["development"].empty? %>
          <%= "None" %>
        <% else !!@rubygem["dependencies"]["development"] %>
          <% dependencies = @rubygem["dependencies"]["development"] %>
          <% dependencies.each do |x| %>
            <div class="<%= x["name"] %>">
            <%= link_to x["name"], "https://rubygems.org/gems/#{x["name"]}", target: "_blank" %>
            <img class="star-pic" src="/assets/star-gray.png" alt="star pic"/>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div style="color:red; text-align:center">
        <h4>Oh no! Looks like your gem can't be found.</h4>
      </div>
      <style>
        .searchbar{
          border-color: red;
          color:red;
        }
      </style>

    <% end %>
  </div>

</div>
