<%= render 'static_pages/navigation' %>

<div class="right">
  <div><h2>Search Gems</h2></div>
  <div>
    <%= form_tag search_path do %>
      <input class="search" id="searchbar" name="query" placeholder="Search" type="text" />
    <% end %>
  </div>
  <div>
    <% if !@rubygems %>
      <%= "" %>
    <% elsif !!@rubygem %>
      <div><h4>Found Gem</h4></div>
      <div class="found-gem">
        <div class="<%= @rubygem["name"] %>">
          <%= link_to @rubygem["name"], "https://rubygems.org/gems/#{@rubygem["name"]}", target: "_blank" %>
          <img class="star-pic" src="/assets/star-gray.png" alt="star pic"/>
        </div>
      </div>
      <div><h4>Info</h4></div>
      <div><%= @rubygem["info"] %></div>
      <div><h4>Dependencies</h4></div>
      <div class="dependencies-gem">
        <% if @rubygem["dependencies"]["development"].empty? %>
          <%= "None" %>
        <% else !!@rubygem["dependencies"]["development"] %>
          <% dependencies = @rubygem["dependencies"]["development"] %>
          <% dependencies.each do |x| %>
            <div class="<%= x["name"] %>">
            <%= link_to x["name"], "https://rubygems.org/gems/#{x["name"]}", target: "_blank" %>
            <img class="star-pic" src="/assets/star-gray.png" alt="star pic"/>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div>
        <h4>Oh no! Looks like your gem wasn't found. Please check your spelling and try again.</h4>
      </div>

    <% end %>
  </div>

</div>
